/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;

}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.header_section{
	width: 100%;
	float: left;
	background-image: url(../images/banner-bg.png);
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
    padding: 25px 0;
}

/* #header_section{
    padding-bottom: 0px;
} */

.logo{
	width: 65%;
	float: left;
	text-align: center;
    padding-bottom: 20px;
}

.image_6{
    width: 100%;
    float: left;
}

.image_6 img {
    width: 100%;
}

.number_tetx{
	width: 100%;
	float: left;
	font-size: 14px;
	color: #ffffff;
	padding-bottom:30px;
	padding-left: 10px;
}
.line{
	width: 100%;
	float: left;
	font-size: 14px;
	color: #ffffff;
	text-align: center;

}

.left_img {
    width: 100%;
    float: left;
    margin-top: 40px;
    text-align: center;
}

.togle_3{
	width: 100%;
	float: left;
    padding-top: 10px;
}
.left_main{
	width: 50%;
	float: left;
}

.right_main{
	width: 25%;
	float: left;
}
.middle_main{
	width: 25%;
	float: left;
}
.shoping_bag {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 6px;
}

.right_main { 
    margin-top: 6px;
}

.menu_main {
    float: left;
    padding-left: 10px;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    text-align: right;
}
.menu_main a {
    color: #ffffff;
}
.menu_main a:hover{ 
    color: #ffffff;
 }

.navbar-expand-lg .navbar-nav .nav-link {
   padding: 0 16px; 
    padding-top: 0;
    /* font-size: 20px; */
    color: #ffffff;
} 

.nav-link:focus, .nav-link:hover {
    color: #000 !important;
}

.furniture_text{
	width: 100%;
	float: left;
	font-size: 84px;
	color: #060a0b;
	font-weight: bold;
}
.trends_text{
	width: 100%;
	float: left;
	font-size: 84px;
	color: #ffffff;
	font-weight: bold;
    line-height: 75px;
}

.lorem_text{
	width: 100%;
	float: left;
	font-size: 17px;
	color: #ffffff;
	margin-left: 0px;
}

.more_bt {
    width: 40%;
    float: left;
    background-color: #ffffff;
    font-size: 17px;
    color: #121010;
    height: 50px;
    font-weight: 700;
    padding-top: 5px;
}
.more_bt:hover{
    background-color: #000;
    color: #fff;
}
.furniture_bt {
    width: 40%;
    float: left;
    background-color: #000000;
    font-size: 17px;
    color: #ffffff;
    height: 50px;
    font-weight: 700;
    padding-top: 5px;
    margin-left: 25px;
}

.furniture_bt:hover{
    background-color: #fff;
    color: black;
}
.about_section{
	width: 100%;
	float: left;
}

.about_taital{
	width: 100%;
	float: left;
	font-size: 45px;
	color: #121010;
	font-weight: 700;
}
.market_text{
	width: 100%;
	float: left;
	font-size: 17px;
	color: #0d0909;
	margin-left: 0px;
}

.about_bg{
	width: 100%;
	float: left;
	background-image: url(../images/about-bg.png);
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.about_long_text{
	width: 100%;
	float: left;
	color: #f7f3f3;	
	font-size: 18px;
	padding-top: 80px;

}
.about_bt {
    width: 25%;
    float: left;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 14px;
    height: 50px;
    margin-left: 20px;
    margin-top: 50px;	
}

.about_bt:hover{
    color: #ffffff;
    background-color: #f6a50e;
    border-color: #f6a50e;
}

.table_img {
    width: 100%;
    float: left;
    position: relative;
    top: -80px;
}

.our_furniture_section{
	width: 100%;
	float: left;
}

.our_section_2 {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.image{
	width: 100%;
	float: left;
}

.images_bt{
	width: 100%;
	float: left;
}
.image_left{
	width: 30%;
	float: left;
}
.image_right{
	width: 70%;
	float: left;
}
.seemore_bt {
    width: 85%;
    float: left;
    margin-top: 220px;
    height: 45px;
    background-color: #000;
    color: #ffffff;
    margin-left: 20px;
}

.seemore_bt:hover{
    color: #ffffff;
    background-color: #f6a50e;
    border-color: #f6a50e;
}
.image_9{
	width: 100%;
	float: left;
}
.new_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-align: right;
    top: -135px;
    position: relative;
    font-weight: 700;
}

.images_section_2 {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.testi_monial_section{
	width: 100%;
	float: left;
}

.testi_monila_text{ 
	width: 100%;
	float: left;
	text-align: center;
	font-size: 40px;
	color: #080607;
	font-weight: bold;
}

.testimonila_inner {
    width: 100%;
    float: left;
    background-color: #676766;
    height: auto;
    margin-top: 90px;
    padding-bottom: 30px;
}

.testing_img {
    width: 100%;
    float: left;
    position: relative;
    top: -60px;
}
.helina_text{
	width: 100%;
	float: left;
	font-size: 26px;
	color: #ffffff;
	padding-left: 130px;
	font-weight: 600;	
}

.dolor_text{
	width: 95%;
	float: left;
	font-size: 14px;
	color: #ffffff;
	padding-left: 130px;
	margin-left: 0px;
}

.contact_section{
	width: 100%;
	float: left;
}

.contact_section_inner{
	width: 100%;
	float: left;
	background-color: #fee509;
	height: auto;
}
.contact_main {
    width: 100%;
    padding: 60px 80px;
    float: left;
}
.contact_text{
	width: 100%;
	float: left;
	font-size: 24px;
	color: #000000;
	text-align: left;
	font-weight: 600;
}
.input_main{
	width: 100%;
	float: left;
}
.social_icon{
	width: 100%;
	float: left;
}


.email-bt{
	width: 100%;
	float: left;
	background-color: #ffffff;
	border: 0px;
	height: 30px;
	padding: 0px 15px;
}
.social_icon li{ 
    float: left; 
    padding-left: 22px;
}

.social_icon a:hover{
    background-color: white;
}
.massage_box{
	width: 100%;
	float: left;
}

.massage-bt {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: 0px;
    height: 50px;
    padding: 12px 15px 0px 15px;
}
.send_bt{
	width: 100%;
	float: left;
	background-color: #000000;
	color: #ffffff;
	height: 50px;
	margin-top: 17px;
	font-size: 26px;
}

.send_bt:hover{
    background-color: whitesmoke;
    color: #000;
}

.footer_section{
	width: 100%;
	float: left;
	background-color: #303330;
	height: auto;
	margin-top: 90px;
    padding-bottom: 90px;
}

ul.location li  {
	display: inline-block;
padding: 0 10px;
color: #fff;
font-size: 16px;
}

ul.location li a {
    color: #fff;
font-size: 16px;
}
ul.location li img {padding-right: 10px;}






.map{ padding-left: 20px; }
.useful_text{
	width: 100%;
	float: left;
	font-size: 22px;
	color: #ffffff;
	font-weight: 600;

}

.useful_main {
	text-align: center;
    padding-bottom: 39px;
}

.useful_main  ul li {display: inline-block;}
.useful_main  ul li a {color: #fff; font-size: 17px; padding: 0px 20px;}


.useful_main ul li a:hover {
    color: #f6a50e;
}
.address_send {
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #000;
    border: inherit;
    padding: 0px 20px;
    height: 42px;
    width: 57%;
}

.bannerblog_text{
    width: 100%;
    float: left;
    font-size: 84px;
    color: #060a0b;
    font-weight: bold;
}

.subscribe_bt {
    color: #ffffff;
    background-color: #f6a50e;
   width: 41%;
height: 42px;
font-size: 17px;
}

.subscribe_bt:hover{
    background-color: #000;
    color: #fff;
}
.copyright{
	width: 100%;
	float: left;
	background-color: #fec40c;
	height: auto;
}
.copyright_text{
	width: 100%;
	float: left;
	text-align: center;
	margin-left: 0px;
	font-size: 16px;
	color: #ffffff;
}
.copyright_text a{ color: #ffffff; }
.copyright_text a:hover{ color: #000000; }



#carouselExampleIndicators a.carousel-control-prev {
    position: absolute;
    left: 110px;
    top: 545px;
    background-color: #2f2c2c;
}

#carouselExampleIndicators .carousel-control-prev, #carouselExampleIndicators .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #000;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#carouselExampleIndicators .carousel-control-prev:hover, #carouselExampleIndicators .carousel-control-next:hover, #carouselExampleIndicators .carousel-control-prev:focus, #carouselExampleIndicators .carousel-control-next:focus {
    background: #091e30;
    color: #fff;
}
#carouselExampleIndicators a.carousel-control-next {
    position: absolute;
    left: 195px;
   top: 74.4%;
    background-color: #2f2c2c;
}
#carouselExampleIndicators .carousel-control-prev, #carouselExampleIndicators .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}


#my_carousel a.carousel-control-prev {
    position: absolute;
    left: -90px;
    top: 300px;
    background-color: #ffd837;
}

#my_carousel .carousel-control-prev, #my_carousel .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #000;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#my_carousel .carousel-control-prev:hover, #my_carousel .carousel-control-next:hover, #my_carousel .carousel-control-prev:focus, #my_carousel .carousel-control-next:focus {
    background: #676766;
    color: #fff;
}

#my_carousel a.carousel-control-next {
    position: absolute;
    left: 70rem;
    top: 56%;
    background-color: #ffd837;
}

#my_carousel .carousel-control-prev, #my_carousel .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

#footer-section{
	margin-top: 0;
}

.login-section {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/banner-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input [type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}

.mlr{
  margin-left: 0;
  margin-right: 0;
}

#custom_btn{
	background-color: #000;
    border-color: #000;
	margin-top: 25px;
    color: #fff;
}

.faqp{
    margin: 0;
}

.section-title{
    margin-bottom: 35px;
}

#custom_btn:hover{
	color: #ffffff;
  background-color: #f6a50e;
  border-color: #f6a50e;
}

.mid{
	width: 1.2857142857142858em;
    text-align: center;
    color: #fff;
    font-size: 20px ;
}
/*floting button*/
*{ 
  font-family:tahoma;
}
/* .testheight Not required - unless testing ;) */
.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

#signin_box{
	display: inline-block !important;

}

.signup{
	text-decoration: underline;
}

/*Modal*/
.close {
  color: rgb(100 96 96 / 89%);
  transform: scale(1.2)
}

.modal-content {
  background: #fff;
}



/*blog page*/

/*----------------------------------------------
     Page Header
----------------------------------------------*/

.page-header {
    text-align: left;
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index: -1;
    height: 300px;
}

.page-section {
    padding-top: 85px;
    padding-bottom: 85px;
    z-index:1;
}

.page-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000;
}

.page-text {
    color: #fff;
}

/*----- post-----*/

.post-holder {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
}

.post-content {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*----- meta -----*/

.meta {
    margin-bottom: 20px;
    text-align: left;
    padding-right: 3px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.meta-date {
    color: #f6a50e;
}

.meta-comments,
.meta-categories {
    color: #b8bbbd;
}

.meta-date{
    margin-right: 15px;
}


/*----- pagination -----*/

.pagination {
    display: inline;
    padding-left: 0;
    margin: 20px 0;
}

.st-pagination {
    text-align: center;
    margin-top: 30px;
}

.st-pagination .pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    line-height: 1.6;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid #727471;
    background-color: #727471;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 5px;
}

.st-pagination .pagination>li>a:focus,
.st-pagination .pagination>li>a:hover,
.st-pagination .pagination>li>span:focus,
.st-pagination .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #f6a50e;
    border: #f6a50e 1px solid;
}

.st-pagination .pagination>li:first-child>a,
.st-pagination .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 2px;
}

.st-pagination .pagination>li:last-child>a,
.st-pagination .pagination>li:last-child>span {
    border-radius: 2px;
}

.st-pagination .pagination>.active>a,
.st-pagination .pagination>.active>a:focus,
.st-pagination .pagination>.active>a:hover,
.st-pagination .pagination>.active>span,
.st-pagination .pagination>.active>span:focus,
.st-pagination .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f6a50e;
    border: 1px solid #f6a50e;
}

.post-meta {
    margin-right: 20px;
    line-height: 0px;
}


/*----- prev-next-----*/

.post-navigation {
    border-top: 1px solid #e6e7e9;
    border-bottom: 1px solid #e6e7e9;
    padding: 20px 0px 20px 0px;
}

.nav-links {
    text-decoration: none;
}


.prev-link,
.next-link {
    color: #6b6d6a;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.prev-link i {
    margin-right: 5px;
}

.next-link i {
    margin-left: 5px;
}

.previous-next-title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    color: #333333;
    font-weight: 700;
}

hr {
    border-bottom: 1px solid #e6e7e9;
    margin-bottom: 30px;
    margin-top: 30px;
}
/*------------------------
 12. Sidebar / Widgets
--------------------------*/


/*----- widget -----*/

.widget {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 2px;
    background-color: #f8faf5;
}

.widget-title {
    color: #302e2e;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
.widget-categories,
.widget-archives {}
.widget ul li a:hover {
    color:#f6a50e;
}

.widget-categories ul li,
.widget-archives ul li {
    position: relative;
    font-weight: 500;
    margin-bottom: 8px;
}

.widget-categories ul li a,
.widget-archives ul li a {
    padding: 0px 0px 0px 18px;
    font-size: 15px;
    font-weight: 500;
    color: #626060;
}

.widget-tags a {
    color: #fff;
    padding: 4px 8px;
    background-color: #727471;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    margin-right: 5px;
    border: 0px;
}

.widget-tags a:hover {
    background-color: #f6a50e;
    color: #000;
    border: 0px;
}

.widget-search button {
    color: #f6a50e;
    font-size: 15px;
    position: absolute;
    right: 0px;
    padding: 8px 15px;
    bottom: 0;
    background: transparent;
}

.widget-search .form-control {
    height: 49px;
}

.search-form {
    position: relative;
}


